* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: 'Montserrat';
}

#page_title {
    margin-top: 50px;
    font-size: 3.5em;
    text-align: center;
}

#main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 18px;
}

.user_card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 3px 17px -2px rgba(0,0,0,0.65);
    background-color: white;
    color: black;
    border-radius: 12px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    padding: 24px 32px;
    min-width: 250px;
    text-decoration: none;
}

.user_card:hover {
    background-color: #ccc;
    border-color: #aaa;
}

.user_card__name {
    font-size: 1.2em;
    font-weight: 600;
}